@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    justify-content: sp ;
}

.destaqTitle {
    color: #FD3422;
}

.apresentacao {
    margin: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacaoConteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacaoConteudoTitulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;;
}

.apresentacaoConteudoTexto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacaoLinks {
    display: flex;
    justify-content: space-between;
}

.apresentacaoLinksLink {
    background-color: #FD3422;
    width: 280px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 21.5px 0;
    border-radius: 16px;
}
