@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --corPrincipal: #000000;
    --corSecundaria: #F6F6F6;
    --corTercearia: #FD3422;
    --corHouver: #272727;

    --fontPrincipal: 'Krona One', sans-serif;
    --fontSecundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalhoMenu {
    display: flex;
    gap: 80px
}

.cabecalhoMenuLink {
    font-family: var(--fontSecundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--corTercearia);
    text-decoration: none;
}

.destaqTitle {
    color: var(--corTercearia);
}

.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacaoConteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacaoConteudoTitulo {
    font-size: 36px;
    font-family: var(--fontPrincipal);
}

.apresentacaoConteudoTexto {
    font-size: 24px;
    font-family: var(--fontSecundaria);
}

.apresentacaoLinks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentaoLinksSubTitulo {
    font-family: var(--fontPrincipal);
    font-weight: 400;
    font-size: 24px;
}

.apresentacaoLinksLink {
    width: 378px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: var(--corSecundaria);
    font-family: var(--fontSecundaria);
    font-weight: 600;
    padding: 21.5px 0;
    border-radius: 8px;
    border: 2px solid --corTercearia;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.apresentacaoLinksLink:hover {
    background-color: var(--corHouver);
}

.rodape {
    padding: 5px;
    color: var(--corPrincipal);
    background-color: var(--corSecundaria);
    display: flex;
    align-items: center;
}

.rodapeTexto {
    font-family: var(--fontSecundaria);
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    flex-grow: 1;
}